ion-input {
	// padding-left: 10px;
  width: 100px;
}

ion-icon.modify-icon{
    font-size: 24px;

}

ion-button.add-food-button{
  // display: flex;
  // padding-top: 10px;
  background: #ffffff;
  color: #ffffff;
  // justify-content: center;
  // align-items: center;
  // color: transparent;
}