<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content color="primary">  
  
  <ion-grid class="login-grid">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-label class="login-label"> Login </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="login-input">
        <div class="ion-text-center">
          <ion-item>
            <ion-label position="floating" color="primary" >Usuário</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item class="roudedInput">
            <ion-label position="floating" color="primary" >Senha</ion-label>
            <ion-input password=True ></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-button class="login-button" shape="round" expand="block"> Acessar </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  
  

</ion-content>
