ion-label.login-label {
  // display: flex;
  // height: 50%;
  // justify-content: center;
  // align-items: center;
  font-size: 55px;
  font-weight: 600;
  // font-family: monospace;
}

ion-grid.login-grid {
  display: grid;
  height: 60%;
  // justify-content: center;
  align-items: center;
  font-family: monospace;
}

ion-col.login-input{

  height: 100px
}

ion-button.login-button{
  --background: #FFFFFF;
  --color: #62BFDD;
}
