<ion-header [translucent]="true">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>

      </ion-buttons>
      <ion-label><h1><center>Configurações do Usuário</center></h1></ion-label>
      <ion-buttons slot="secondary">
          <ion-button>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
      <img src="../../../assets/person-circle-outline.svg">
      <ion-item>
      </ion-item>
      <br>  
      <ion-label><h1><center>Nome</center></h1></ion-label>



</ion-content>
