.card-content {
  padding-bottom: 0;
}

.card-follow-up {
  .info-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .info {
      display: flex;
      flex-direction: column;

      .title {
        &.percent {
          color: hotpink;
          text-align: center;
        }

        font-size: 1.5rem;
        font-weight: 600;
      }

      .subtitle {
        font-weight: 600;
      }
    }
  }

  .info-middle {
    display: flex;
    justify-content: space-around;

    .info {
      display: flex;
      align-items: center;
      justify-content: center;

      .text {
        margin-left: 5px;
      }
    }
  }

  .chart {
    display: flex;
    justify-content: center;
    height: 77px;

    svg {
      position: absolute;
    }
  }
}